* {
    margin: 0;
    padding: 0;
}

h1, h2, p {
    font-family: sans-serif;
}

.div-global {
    display: grid;
    border: 2px solid black;
    border-top: 0px;
    border-radius: 5px;
    max-width: 620px;
}

.div-global h2 {
    font-size: 12px;
    padding: 2px 2px 2px 5px; 
}

.section {
    padding: 10px 0 0 30px;
    
}

.class-main {
    display: grid;
}

.div-cabecalho {
    border: 2px solid black;
    border-radius: 5px;
    max-width: 620px;
}

.cabecalho {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.img-sup {
    max-width: 180px;
    max-height: 290px;
    align-self: top;
    padding-left: 5px;
}

.cab-h1 {
    font-size: 18px;
    text-align: right;
    padding: 3px 30px 0 0;

}

.filial-p label {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.filial-p {
    max-width: 220px;
    font-size: 8PX;
    padding: 3px;   
}

.input-filial {
    max-width: 10px;
    max-height: 10px;
}

/*   Requisição de frete   */

.requisicao-frete {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid black;
    border-top: 0px;
    border-radius: 5px;
    max-width: 620px;

}

.requisicao-frete h1 {
    color: white;
    background: black;
    padding: 3px 0 3px 7px;
}

.n-requisicao {
    color: red;
    text-align: center;
}

.requisicao-frete-2 {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    align-items: center;
    align-content: center;
}

/*   div transportadora    */

.div-transp {
    display: grid;
    grid-template-columns: 1fr ;
    border: 2px solid black;
    border-top: 0px;
    border-radius: 5px;
    max-width: 620px;
}

.div-transp p {
    padding: 5px 0 0 15px;
}

/* div seção 3 -- */

.div-secao-3 {
    display: grid;
    grid-template-columns: 0.5fr 0.7fr 0.5fr 0.35fr 0.35fr ;
    border: 2px solid black;
    border-top: 0px;
    border-radius: 5px;
    max-width: 620px;
}

.sub-origem, .sub-destino, .sub-quantvol, .sub-peso {
    border: 2px solid black;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
    padding: 2px 2px 2px 5px;

}

.sub-ml {
    padding: 2px 2px 2px 5px; 
}

.sub-origem h2, .sub-destino h2, .sub-quantvol h2, .sub-peso h2, .sub-ml h2 {
    font-size: 12px;
}

.sub-origem p, .sub-destino p, .sub-quantvol p, .sub-peso p, .sub-ml p {
    text-align: center;
}

.sub-quantvol p input, .sub-peso p input {
    max-width: 80px;
    text-align: center;
    border: 0px;
}


/*  div-secao-4  */

.div-secao-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nf, .val-transp, .frete {
    border: 2px solid black;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
}


.div-secao-4 p input{
    max-width: 90px;
    padding-left: 5px;
    border: 0px;
}

.frete  {
    padding-left: 5px;
}

.input-frete {
    max-width: 10px;
    max-height: 10px;
}

/*    div-secao-5   */

.div-secao-5 {
    grid-template-columns: 1fr 1fr 1fr;
}

.val-coleta, .val-redesp {
    border: 2px solid black;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
}

.div-secao-5 p {
    align-self: center;
}

.div-secao-5 p input{
    max-width: 150px;
    padding: 10px;
    border: 0px;
    align-self: center;
}

/*    div-secao-6   */

.div-secao-6 {
    grid-template-columns: 0.7fr 1.3fr;
}

.div-carimbo {
    padding-top: 17px;
}

.div-carimbo p {
    font-size: 12px;
    text-align: center;
    font-family: sans-serif;
}

.carimbo-h2 {
    text-align: center;
}

/*    div-secao-7     */

.div-secao-7 {
    grid-template-columns: 1.5fr 0.5fr;
}

.obs {
    height: 80px;
}

.div-autorizado {
    display: grid;
    align-items: end;
    align-content: end;
}

.div-autorizado p {
    text-align: center;
}